<?xml version='1.0' encoding='utf-8'?>
<widget id="com.example.riselfie" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>SelfieApp</name>
    <description>
        A selfie taking app.
    </description>
    <author email="shakeel.osmani@gmail.com" href="http://www.codecanisters.in">
        Shakeel Osmani
    </author>
    <content src="index.html" />
    <access origin="*" />
	 <gap:plugin name="org.apache.cordova.camera" />
</widget>
